<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
>
<head>
    <meta charset="UTF-8">
    <title>아이템 수정</title>
</head>
<body>
<th:block layout:fragment="content">
    <h1>아이템 수정</h1>

    <form action="/item/update" method="post" enctype="multipart/form-data" th:object="${itemDTO}">
        <button>저장</button>

    <th:block th:each="imageDTO : ${itemDTO.imageDTOList}">
        <th:block th:if="${imageDTO.repimagYn == 'Y'}">
            <img th:src="${'/images/' + imageDTO.imgName}" >
        </th:block>
    </th:block>

        <div>
            <div>상품번호</div>
            <input th:text="${itemDTO.id}">
        </div>

        <div>
            <div>상품명</div>
            <input th:field="*{iname}">
        </div>

        <div>
            <div>가격</div>
            <input th:field="*{price}">
        </div>

        <div>
            <div>재고수량</div>
            <input th:field="*{stockNumber}">
        </div>

        <div>
            <div>등록시간</div>
            <div th:text="${#temporals.format(itemDTO.regTime, 'yyyy-MM-dd')}"></div>
        </div>

        <div>
            <div>수정시간</div>
            <div th:text="${#temporals.format(itemDTO.updateTime, 'yyyy-MM-dd')}"></div>
        </div>


    </form>






</th:block>
<th:block layout:fragment="script">

</th:block>
</body>
</html>