<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
>
<head>

</head>
<body>
  <th:block layout:fragment="content">


    <form action="/user/login" method="post">
      <input type="email" name="email" class="form-control" id="email" >
      <input type="text" name="password" class="form-control" id="password" >
      <button type="submit" class="btn btn-dark">로그인</button>
    </form>





  </th:block>

  <th:block layout:fragment="script">
    <script>




    </script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  </th:block>
</body>
</html>